*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
}
#parent1 {
    display: grid;
    grid-template-columns: 35% auto ;  
    height: 100%;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#child1 {
    position: relative;
    
}
.divs {
    display: inline-flex;
    margin-left: 2%;
    position: absolute;

}
.font {
    font-family: cursive;
    font-size: 1.3vw;
    padding-left: 15px;
}
.wh {
    width: 40px;
    height: 40px;
}
#name {
    position: absolute;
    top: 2%;
    left: 10%;
    font-size: 2.3vw;
    font-family: monospace;
    color: white;
}
#myImg {
    position: absolute;
    border-radius: 30%;
    width: 30%;
    top: 10%;
    left: 11%;
    transform: scale(1);
    transition: transform .5s;
}
#h2 {
    position: absolute;
    font-size: 2.3vw;
    font-family: monospace;
    color: white;
    left: 2%;
    top: 3%;
}
#language {
    padding-left: 35px;
    font-family: cursive;
    font-size: 1.3vw;
}
#skills {
    padding-left: 35px;
    font-family: cursive;
    font-size: 1.3vw;
}
#euLink {
    color: black
}
#euLink:hover {
    opacity: 0.5
}
#addressDiv {
    top: 45%;
    align-items: center
}
#phoneDiv {
    top: 60%;
    align-items: center
}
#gmailDiv{
    top: 75%;
    align-items: center
}
#jobDiv {
    top: 90%;
    align-items: center
}
#toDo:hover {
    opacity: 0.5
}
#toDo {
    color: black
}
#carousel:hover {
    opacity: 0.5
}
#carousel {
    color: black
}
#tetris:hover {
    opacity: 0.5
}
#tetris {
    color: black
}
#child2 {
    position: relative;
}
#dayDiv {
    top: 12%;
    align-items: center
}
#schoolDiv {
    top: 20%;
    align-items: center
}
#univerDiv {
    top: 30%;
    align-items: center
}
#coursesDiv {
    top: 40%;
    align-items: center;
}
#workDiv {
    top: 50%;
    align-items: center
}
#languageDiv {
    top: 60%;
    align-items: center
}
#skillsDiv {
    top: 75%;
    align-items: center
}
#armyDiv {
    top: 93%;
    align-items: center
}
@media not screen and (min-width: 800px) {
    #parent1 {
        display: grid;
        grid-template-columns: auto;
        height: 300%;
        background-image: url("./background.jpg");
        background-repeat: repeat-x;
        
    }
    #myImg {
        left: 8%;
        transform: scale(0.9);
        transition: transform .9s;
       
    }
    .font{
        font-size: 15px;
    }
    #language {
        font-size: 15px;
    }
    #skills {
        font-size: 15px;
    }
    /*.font:hover {
        transform: scale(2);
        color: rgb(218, 64, 64);
        font-family: cursive;
        font-size: 1.7vw;
        padding-right: 25%;
        transition: transform .5s;
        text-align: center;

    }*/
    #name {
    position: absolute;
    top: 1%;
    left: 10%;
    font-size: 25px;
    font-family: monospace;
    z-index: 999;
    }
    
    #euLink:hover {
        opacity: 0.2;
    }
    /*#language:hover {
        transform: scale(2);
        color: rgb(218, 64, 64);
        font-family: cursive;
        font-size: 1.7vw;
        padding-right: 25%;
        transition: transform .5s;
    }
    #skills:hover {
        transform: scale(2);
        color: rgb(218, 64, 64);
        font-family: cursive;
        font-size: 1.7vw;
        padding-right: 25%;
        transition: transform .5s;
    }*/
    #addressDiv {
        top: 30%;
        align-items: center
    }
    #phoneDiv {
        top: 40%;
        align-items: center
    }
    #gmailDiv{
        top: 50%;
        align-items: center
    }
    #jobDiv {
        top: 60%;
        align-items: center
    }
    #h2 {
        top: -25%;
        font-size: 25px
    }
    #dayDiv {
        top: -15%;
        align-items: center
    }
    #schoolDiv {
        top: -5%;
        align-items: center
    }
    #univerDiv {
        top: 5%;
        align-items: center
    }
    #coursesDiv {
        top: 15%;
        align-items: center;
    }
    #workDiv {
        top: 25%;
        align-items: center
    }
    #languageDiv {
        top: 35%;
        align-items: center
    }
    #skillsDiv {
        top: 45%;
        align-items: center
    }
    #armyDiv {
        top: 65%;
        align-items: center
    }
}
