*{
    margin: 0;
    padding: 0;
}
#parent1 {
    display: grid;
    grid-template-columns: 35% auto ;  
    grid-template-rows: 657px;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#child1 {
    position: relative;
    
}
.divs {
    display: inline-flex;
    margin-left: 2%;
    position: absolute;

}
.font {
    font-family: cursive;
    font-size: 1.3vw;
    padding-left: 15px;
}
.wh {
    width: 40px;
    height: 40px;
}
#name {
    position: absolute;
    top: 2%;
    left: 10%;
    font-size: 2.3vw;
    font-family: monospace
}
#myImg {
    position: absolute;
    border-radius: 30%;
    width: 30%;
    top: 10%;
    left: 11%;
    transform: scale(1);
    transition: transform .5s;
}
#h2 {
    position: absolute;
    font-size: 2.3vw;
    font-family: monospace;
    left: 2%;
    top: 3%;
}
#language {
    padding-left: 35px;
    font-family: cursive;
    font-size: 1.3vw;
}
#skills {
    padding-left: 35px;
    font-family: cursive;
    font-size: 1.3vw;
}
#link:hover {
    opacity: 0.2;
}
@media not screen and (min-width: 800px) {
    #myImg {
        top: 12%;
        left: 30%;
        transform: scale(2.5);
        transition: transform .9s;
    }
    .font:hover {
        transform: scale(2);
        color: rgb(218, 64, 64);
        font-family: cursive;
        font-size: 1.7vw;
        padding-right: 25%;
        transition: transform .5s;
        text-align: center;

    }
    #name {
    position: absolute;
    top: 1%;
    left: 10%;
    font-size: 3vw;
    font-family: monospace;
    z-index: 999;
    }
    #h2 {
        position: absolute;
        font-family: monospace;
        font-size: 4vw;
        left: 5%;
        top: 3%;
    }
    #link:hover {
        opacity: 0.2;
    }
    #language:hover {
        transform: scale(2);
        color: rgb(218, 64, 64);
        font-family: cursive;
        font-size: 1.7vw;
        padding-right: 25%;
        transition: transform .5s;
    }
    #skills:hover {
        transform: scale(2);
        color: rgb(218, 64, 64);
        font-family: cursive;
        font-size: 1.7vw;
        padding-right: 25%;
        transition: transform .5s;
    }
}
#addressDiv {
    top: 35%;
    align-items: center
}
#phoneDiv {
    top: 50%;
    align-items: center
}
#gmailDiv{
    top: 65%;
    align-items: center
}

#child2 {
    position: relative;
    
}

#dayDiv {
    top: 12%;
    align-items: center
}
#schoolDiv {
    top: 20%;
    align-items: center
}
#univerDiv {
    top: 30%;
    align-items: center
}
#coursesDiv {
    top: 40%;
    align-items: center;
}
#workDiv {
    top: 50%;
    align-items: center
}
#languageDiv {
    top: 60%;
    align-items: center
}

#skillsDiv {
    top: 75%;
    align-items: center
}

#armyDiv {
    top: 93%;
    align-items: center
}